$niyyah-bg: #0d1410;
$niyyah-primary: #1a251c;
$niyyah-secondary: #303c2f;
$niyyah-tertiary: #556b50;
$niyyah-text: #e8ebe9;
$niyyah-text-secondary: #798263;

:root {
  --color-bg: #{$niyyah-bg};
  --color-primary: #{$niyyah-primary};
  --color-secondary: #{$niyyah-secondary};
  --color-tertiary: #{$niyyah-tertiary};
  --color-text-primary: #{$niyyah-text};
  --color-text-secondary: #{$niyyah-text-secondary};
  --page-gutter: 2.5rem;
}
